<div class="page__hero--overlay"
    style="background-color: #0A192F; background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('');">

    
    <div class="wrapper">
        
        <h1 id="page-title" class="page__title" itemprop="headline">
            <img class="hero-profile-photo" src="/assets/images/taz-photo-2.jpg" />
            Hi, 👋 I’m Taz.
        </h1>
        <p class="page__lead">I help businesses and startups build rock-solid web apps and backend systems so they can
            scale fast, cut tech headaches, and focus on growing.
        </p>
    </div>
</div>